main {
    background-color: #DDD;
    margin:0 auto;
    width:80%
}

h1 {
    color:red;
}
img {
    float:left
}

@media only screen and (max-width:800px){
    p{color:green}
    img {float:none;}
}

@media only screen and (max-width:600px) and (min-width:500px){
    h1{text-align:right;
    }
    

    
    

