body {
    background-image: url(hex-pattern.jpg);
    margin: 0;
    opacity: .9;
}
#wrapper {
    width: 960px;
    margin: 0px auto;
    background: rgb(161, 186, 211);
}
header h1 {
    color: rgb(74,103,146);
    font-family: sans-serif;
    padding-top: 40px;
    padding-left: 80px;
    margin-bottom: 5px;
    font-family: 'Anton', sans-serif;
    font-size: 3em;
}
header img {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
}
header h2 {
    font-family: 'Lato', sans-serif;
    text-align: right;
    font-size: 1em;
    padding-right: 30px;
}
#rightcol {
    background: white;
    margin-left: 170px;
    padding-left: 10px;
    margin-bottom: -40px;
    
}
p {
    font-family: 'Lato', sans-serif;
}
nav {
    float: left;
    width: 120px;
    height: 460px;
    padding-left: 0px;
    padding-right: 50px;
    padding-top: 0px;
    background: rgb(201, 217, 221);
    font-family: 'Anton', sans-serif;
    font-size: 18pt;

}
nav ul {
    list-style-type: none;
    padding-left: 10px;
    line-height: 35px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding-left: 0px;
}
#rightcol h2 {
    color: rgb(102, 121, 149);
    font-family: 'Anton', sans-serif;
}
main {
    margin: 0;
}
figure {
    margin-left: 30px;
    float: right;
    width: 30%;
    padding-top: 20px;
}
footer {
    margin-top: 70px;
    text-align: center;
}