*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.rainbow {

    height:400px;
    background-image:linear-gradient(to top, white, blue, red, orange, purple, black);
}
.morerainbow {
    height: 600px;
    background-image:linear-gradient(to bottom, red , orange 60%, yellow 90%);
}
.evenmorerainbow {
    height:600px;
    background-image:linear-gradient(to right,#fffdc2,#fffdc2 15%,#d7f0a2 15%,#d7f0a2 85%,#fffdc2 85%);

}
